<h1>Contact us</h1>
<div class="container">

  <form class="form-control">
    <input class="form-control p-3" type="text" placeholder="Name">

    <input class="form-control p-3" type="text" placeholder="Email">

    <input class="form-control p-3" type="text" placeholder="Phone Number">

    <textarea class="form-control" name="" id="" cols="30" rows="10" placeholder="Write me a short message"></textarea>

  </form>
</div>
